{:kotoba.app/id "cloud.itonami.isic-6202", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiarjmofzdshxqdkwfjqammwqaqkzehivkbv7pdtkeusgzaxlaa6km", :kotoba.app/embed-url "ipfs://bafkreiarjmofzdshxqdkwfjqammwqaqkzehivkbv7pdtkeusgzaxlaa6km", :published {:archive "https://kotobase.net/ipfs/bafkreiarjmofzdshxqdkwfjqammwqaqkzehivkbv7pdtkeusgzaxlaa6km", :size 72279, :put-status 201, :get-status 200, :at "2026-08-15T13:47:41.269Z"}}
